.App {
  text-align: center;
  border: 3px solid #7E685A;
  background-color: #C2B9B0;
}

.App-header {
  background-color: #C2B9B0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Name-Text {
  color: white;
  font-size: 56px;
  text-align: left;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-column {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  align-items: left;
  padding-right: 100px  ;
}

.small-text {
  color: white;
  font-size: 24px;
  padding-top: 10px;
  max-width: 700px;
  text-align: left;
}

.footer-text {
  color: White;
}

.head-foot-line {
  border-color: #7E685A;
  width: 95%;
}