.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2d2f33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Name-Text {
  color: gainsboro;
  font-size: 56px;
  padding-right: 50px;
}

.container-row {
  display: flex;
  background: #FFF;
  background-color: #2d2f33;
  flex-direction: row; /* change this to row instead of 'column' */
  flex-wrap: wrap;
}

.container-column {
  display: flex;
  background: #FFF;
  background-color: #2d2f33;
  flex-direction: column; /* change this to row instead of 'column' */
  flex-wrap: wrap;
}

.small-text {
  color: gainsboro;
  font-size: 12px;
  padding-top: 50px;
  overflow-wrap: break-word;
}

