.nav-bar {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 20px;
  }

  .navbar-brand {
    color: white;
    font-size: 32px;
    padding-right: 45px;
  }

  .navbar-brand:hover {
    color: #E7717D;
    transform: scale(1.015);
    text-decoration: underline;
  }


