.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #c5b6a8;
    padding-left: 50px;
    padding-top: 20px;
  }

  .navbar-brand {
    color: white;
    font-size: 32px;
  }

  .navbar-brand:hover {
    color: #E7717D;
    transform: scale(1.015);
  }

  .container {
    background-color: #c7c4f094;
  }
